.data-time-select-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.data-time-select-schedule{
    width: 200px;
}
.data-time-select-calendar{
    margin-right: 100px;
}
.data-time-select-schedule-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.data-time-select-schedule-item{
    width: 80px;
    height: 35px;
    border: 2px solid var(--color-header-btn);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
@media (min-width: 1025px) {
    .data-time-select-schedule-item:hover{
        background-color: var(--background-header-btn-hover);
        color: var(--color-header-btn-hover);
    }
}
.data-time-select-schedule-item:not(:first-child){
    margin-top: 20px;
}
.submit-request-button{
    border: 2px solid var(--color-header-btn);
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: 17px;
    background-color: var(--background-header-btn);
    color: var(--color-header-btn);
    transition: all 0.3s ease;
}
@media (min-width: 1025px) {
    .submit-request-button:hover {
        background-color: var(--background-header-btn-hover);
        color: var(--color-header-btn-hover);
    }
}
.Form{
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-input{
    width: 100%;
    height: 30px;
    border: 2px solid var(--color-header-btn);
    background-color: transparent;
}
.form-user-tel{
    margin-bottom: 40px;
    margin-top: 10px;
}
.data-time-select-calendar .react-calendar__tile--now {
    background-color: rgba(232, 174, 248, 0.537) !important;
}
.data-time-select-calendar .react-calendar__tile--active {
    background-color: rgb(208, 32, 217) !important;
    color: white !important;
}
.data-time-select-calendar .react-calendar__tile--active:not(.react-calendar__tile--now) {
    background: rgb(208, 32, 217) !important;
}



@media (max-width:1024px) {
    .data-time-select-calendar{
        margin-right: 10px;
    }

    
}

@media (max-width:500px) {
    .data-time-select-content{
        flex-direction: column;
        gap: 20px   ;
        align-items: flex-start;
    }

    .data-time-select-schedule-items{
        width: 80vw;
        gap: 5px;
        align-items: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
       
    }
    .react-calendar__navigation button{
        min-width: 30px !important; 
    }
    .menu-container{
        padding: 20px 15px;
    }

    
}