.calendar-time {
    display: flex;
    gap: 100px;
}
.employee-time-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.time-selection li {
    display: inline-block;
    margin-right: 10px;

    padding: 5px 10px;

    border-radius: 10px;
    cursor: pointer;
}
.employee-time-block ul li {
    border: 1px solid black;
}

@media (min-width: 1025px) {
    .employee-time-block ul li:hover {
        background-color: var(--background-service-item-hover);
    }
}
