.footer {
    margin-top: 100px;
    margin-bottom: 30px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.footer ul {
    list-style: none;
}
.footer-left ul,
.footer-right ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-left {
    color: var(--color-footer-left);
}
.footer-right-link {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-text);
    transition: opacity 0.3s ease;
}
.footer-socials ul {
    display: flex;
    gap: 20px;
}

.footer-socials ul li a {
    font-size: 21px;
    color: var(--color-social);
}
.footer-socials ul li {
    transition: opacity 0.3s ease;
}

@media (min-width: 1025px) {
    .footer-socials ul li:hover{
        opacity: 0.5;
    }
}
@media (min-width: 1025px) {
    .footer-right-link:hover{
        opacity: 0.5;
    }
}


/* для ноутбуков */
@media (max-width: 1440px) {


  }

  /* для планшетов */
@media (max-width: 1024px) {

}

@media (max-width: 700px) {
    .footer-content{
        gap: 30px;
    }
  }
@media (max-width: 400px) {
    .footer-socials{
        margin-top: 15px;
    }
  }
