:root{
    --background: rgb(243, 228, 252);
    --background-header: rgba(243, 228, 252, 0.536);
    --background-header-btn: transparent;
    --background-header-btn-hover: rgb(0, 0, 0);
    --background-banner-main: rgba(255, 255, 255, 0.515);
    --background-reviews-main: rgb(196, 196, 196);
    --background-card-reviews-main: rgba(233, 233, 233, 0.571);
    --background-service-item: rgba(255, 255, 255, 0.252);
    --background-service-item-hover: rgba(0, 0, 0, 0.196);


    --color-text: rgb(0, 0, 0);
    --color-logo: rgb(0, 0, 0);
    --color-header-btn: rgb(0, 0, 0);
    --color-header-btn-hover: rgb(255, 255, 255);
    --color-social: rgb(0, 0, 0);
    --color-banner-main: rgb(0, 0, 0);
    --color-border-slider-main: rgb(135, 135, 135);
    --color-border-service-reviews: rgb(226, 226, 226);
    --color-border-reviews-main: rgb(218, 218, 218);
    --color-border-service-reviews-text: rgb(255, 255, 255);
    --color-title-reviews-main: white;
    --color-card-reviews-main: rgb(0, 0, 0);
    --color-footer-left: rgb(0, 0, 0);
    --color-footer-right-hover: rgb(0, 0, 0);
    --color-footer-left: rgb(0, 0, 0);
    --color-certificat-title: rgb(0, 0, 0);
    --color-service-link: white;
}