.contacts{
    margin-top: 100px;
}
.contacts-title{
    font-size: 52px;
    text-align: center;
    color: var(--color-contacts-title);
    margin-bottom: 30px;
}
.contacts-container{
    display: flex;
    gap: 100px;  
}
.contacts-container-left{
    width: 50%  ;
    margin-top: 60px;
}
.contacts-container-left-content-title{
    color: var(--color-contacts-title);
    padding: 20px 0;
    border-top: 1px solid black;
    width: 90%;
    font-size: 28px;
}
.contacts-container-left-content-text{
    padding-bottom: 20px;
    color: var(--color-text);
    font-size: 17px;
}
.contacts-container-rigth{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
}
@media (min-width: 1025px) {
    .contacts-container-rigth:hover {
        transform: scale(1.05);
        box-shadow: 14px 21px 83px -24px rgba(0,0,0,0.75);
        -webkit-box-shadow: 14px 21px 83px -24px rgba(0,0,0,0.75);
        -moz-box-shadow: 14px 21px 83px -24px rgba(0,0,0,0.75);
    }
}
.contacts-container-rigth img{
    height: 100%;
    width: 100%;
}